<!doctype html>
{% extends "base.html" %} {% block index %}
<form id="druginfo" class="flex flex-row items-center justify-center" id="drug-search-form"
  hx-post="/api/search/drugname/druginfo" hx-target="#druginfo" hx-swap="outerHTML">
  <div class="flex flex-col space-y-2" id="dropdownDiv">
    <h1 class="font-bold">{{ drugname }}</h1>
    <input name="drugname" hx-include="this" value="{{ drugname }}" type="hidden" />
    <label for="salt">Choose salt form</label>
    <select
      class="w-[10rem] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[3rem]"
      id="salt" name="salt" hx-trigger="change" hx-include="this">
      {% for salt in salts %}
      <option value="{{ salt }}">{{ salt }}</option>
      {% endfor %}
    </select>
    <label for="dosageform">Choose dosage form</label>
    <select
      class="w-[10rem] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[3rem]"
      id="dosageform" name="dosageform" hx-trigger="change" hx-include="this">
      {% for dosageform in dosageforms %}
      <option value="{{ dosageform }}">{{ dosageform }}</option>
      {% endfor %}
    </select>
    <label for="strength">Choose strength</label>
    <select
      class="w-[10rem] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[3rem]"
      id="strength" name="strength" hx-trigger="change" hx-include="this">
      {% for strength in strengths %}
      <option value="{{ strength }}">{{ strength }}</option>
      {% endfor %}
    </select>
    <label for="roa">Choose rout of administratrion</label>
    <select
      class="w-[10rem] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[3rem]"
      id="roa" name="roa" hx-trigger="change" hx-include="this">
      {% for roa in roas %}
      <option value="{{ roa }}">{{ roa }}</option>
      {% endfor %}
    </select>
  </div>
  <button
    class="flex items-center justify-center text-white text-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-[5rem] h-[3rem]"
    type="submit">
    Confirm
  </button>
</form>
{% endblock %}
