<hero dir="rtl" class="grid bg-gray-700 text-white text-center bg-cover bg-center bg-[url('/static/imgs/banner.jpeg')]">
  <div class="col-start-1 row-start-1 h-full w-full bg-gray-900 bg-opacity-40"></div>
  <div class="col-start-1 row-start-1 py-24 px-10">
    <h1 class="font-iransans-bold text-5xl md:text-7xl mb-4">گچت فارماسی</h1>
    <p class="text-lg mb-5 font-iransans-medium">پلتفرم پایش سلامتی گچت فارماسی</p>
    {% if username %}
    <a href="/users/me" class="button font-iransans-bold">داشبورد</a>
    {% else %}
    <a href="/login" class="button font-iransans-bold">وارد شوید</a>
    {% endif %}
  </div>
</hero>
