<!doctype html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/alpine.min.js" defer></script>

  <script charset="utf-8" src="/static/js/plotly-2.27.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/jalalidatepicker.min.css" />
  <link rel="icon" type="image/png" href="/static/imgs/favicon.png">
  <script src="/static/js/jalalidatepicker.min.js"></script>
</head>

<body class="bg-gray-200">
  {% block header %}
  {% include "/partial/header.html" %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>

<script>jalaliDatepicker.startWatch();</script>

</html>
