<!doctype html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <script src="/static/js/htmx.min.js"></script>
  <script charset="utf-8" src="/static/js/plotly-2.27.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/jalalidatepicker.min.css" />

  <script src="/static/js/jalalidatepicker.min.js"></script>
</head>

<body>

  <header>
    <!-- Navigation bar or header content goes here -->
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>

</body>

<script>jalaliDatepicker.startWatch();</script>

</html>
