{% extends 'base.html'%}

{% block title %} ثیت نام {% endblock %}


{% block content %}

<div id="register" dir="rtl" class="">
  <form hx-post="/api/register" hx-target="#result" hx-include='[name="username"]'
    class="flex flex-col items-center justify-center p-27">
    <div class="mb-4">
      <label for="user_id" class="">نام کاربری</label>
      <input type="text" name="username" value="{{username}}" readonly required id="user_id" class="" />
    </div>
    <div class="mb-4">
      <label for="password" class="">رمز عبور</label>
      <input name="password" placeholder="رمز" class="" required pattern="[A-Za-z0-9@#]+">
    </div>
    <div class="mb-4">
      <label for="name" class="">نام</label>
      <input type="text" name="name" class="" required>
    </div>
    <div class="mb-4">
      <label for="lastname" class="">نام خانوادگی</label>
      <input type="text" name="lastname" class="" required>
    </div>
    <fieldset class="mb-4" required>
      <legend class="text-indigo-600 text-xl">جنسیت</legend>
      <div class="flex items-center mb-4">
        <label class="inline-flex items-center">
          <input type="radio" name="sex" value="1" class="form-radio text-indigo-600" required>
          <span class="ml-2">مرد</span>
        </label>
      </div>
      <div class="flex items-center mb-4">
        <label class="inline-flex items-center">
          <input type="radio" name="sex" value="2" class="form-radio text-pink-600">
          <span class="ml-2">زن</span>
        </label>
      </div>
      <div class="flex items-center mb-4">
        <label class="inline-flex items-center">
          <input type="radio" name="sex" value="0" class="form-radio text-gray-600">
          <span class="ml-2">دیگر</span>
        </label>
      </div>
    </fieldset>
    <div class="mb-4">
      <label for="date" class="">تاریخ تولد</label>
      <input name="birthdate" type="text" data-jdp class="" required>
    </div>
    <div class="mb-4">
      <label for="height" class="">قد به سانتی متر</label>
      <input name="height" type="text" id="height" placeholder="قد" class="" required pattern="[0-9]+">>
    </div>
    <div class="mb-4">
      <label for="weight" class="">وزن به کیلوگرم</label>
      <input type="text" name="weight" class="" required pattern="[0-9]+">>
    </div>
    <div class="flex items-center justify-between">
      <button class="border border-black" type="submit">
        ثبت نام
      </button>
    </div>
  </form>
  <div id="result"></div>
</div>


{% endblock %}
